{% extends "_layout.html" %}

{% block title %}Báo cáo & Thống kê{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        Báo cáo & Thống kê
    </div>
    <div class="card-body">
        <p>Chọn một báo cáo để xem:</p>
        
        <ul style="line-height: 2;">
            <li>
                <a href="{{ url_for('admin_report_high_gpa') }}">
                    Báo cáo 1: Danh sách sinh viên có GPA (thang 4) > 3.0
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin_report_missing_grade') }}">
                    Báo cáo 2: Liệt kê sinh viên chưa thi một môn học
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin_report_class_gpa') }}">
                    Báo cáo 3: Thống kê điểm trung bình (GPA) theo Lớp
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin_report_score_distribution') }}">
                    Báo cáo 4: Biểu đồ phân bố điểm (Theo điểm chữ)
                </a>
                </li>
        </ul>
    </div>
</div>
{% endblock %}